<%- include('../partials/header.ejs')%>
    <div class="event-container">
        <img src="<%= event.image%>" alt="Football Event Image" class="event-image"> 
        <div class="event-details"> 
            <h1 class="event-title"><%= event.title%></h1>
            <p class="event-host"><strong>Host:</strong> <%= event.hostName%></p>
            <p class="event-date-time"><strong>Start date/time:</strong> <%= event.startDateTime%></p>
            <p class="event-date-time"><strong>End date/time:</strong> <%= event.endDateTime%></p>
            <p class="event-description"><strong>Details:</strong> <%= event.details%></p>
            <form>
                <div class="event-buttons">
                    <button class="edit-button" type = "submit" formmethod = "GET" formaction = "/events/<%= event.id%>/edit">Edit</button>
                </div>
            </form>
        </div>
    </div>
    <%- include('../partials/footer.ejs')%> 